@import "tailwindcss";

@layer base {
  html {
    @apply antialiased;
  }
  
  body {
    @apply bg-white text-[#1a1a1a];
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full border-2 border-transparent bg-clip-padding;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
  }
  
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-700;
  }
  
  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }
}